.one{
    display: block;
  background-color: palevioletred;
  border:3px solid darkblue;
  width:800px;
  text-align:left;
  padding-left: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 15px;
  }
  
  .two{
  display: block;
  width: 50%;
  background-color: skyblue;
  margin-top: 12px;
  border: 3px solid brown;
  }
  
  .three{
    display:block;
    width:275px;
    background-color: peachpuff;
    margin-left: 30%;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 5px;
    border:3px solid brown;
    
  }
  